﻿@model ThuChi

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenHang" class="control-label"></label>
                    <input asp-for="TenHang" class="form-control" />
                    <span asp-validation-for="TenHang" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChiTieu" class="control-label"></label>
                    <input asp-for="ChiTieu" class="form-control" />
                    <span asp-validation-for="ChiTieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoLuong" class="control-label"></label>
                    <input asp-for="SoLuong" class="form-control" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DoanhThu" class="control-label"></label>
                    <input asp-for="DoanhThu" class="form-control" />
                    <span asp-validation-for="DoanhThu" class="text-danger"></span>
                </div>
              <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="text-dark btn btn-primary" asp-area="" asp-controller="ThuChi" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
