﻿@model IEnumerable<ThuChi>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Request List</h2>
                        <a asp-action="Create" class="btn btn-primary">ThuChi</a>

                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Content </th>
                                <th>Note </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                             
                                <tr class="text-left">
                                    @* <td> @Html.DisplayFor(modelItem => item.MaDonHangId)</td> *@
                                    <td> @Html.DisplayFor(modelItem => item.TenHang)</td>
                                    <td> @Html.DisplayFor(modelItem => item.ChiTieu)</td>
                                    <td> @Html.DisplayFor(modelItem=>item.SoLuong)</td>
                                    <td> @Html.DisplayFor(modelItem=>item.DoanhThu)</td>
                                   
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdMaDonHang">Edit</a>
                                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.IdMaDonHang">Delete</a>  
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
