﻿@model NhanSu

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <form method="post" asp-controller="NhanSu" asp-action="Edit">
                <input type="hidden" class="form-control" asp-for="IdMaNhanVien">
                <div class="form-group">
                    <label asp-for="FulllName" class="control-label"></label>
                    <input asp-for="FulllName" class="form-control" />
                    <span asp-validation-for="FulllName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sdt" class="control-label"></label>
                    <input asp-for="Sdt" class="form-control" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
d                <input class="btn btn-primary" type="submit" value="Save"/>
                <a class=" text-dark btn btn-primary" asp-area="" asp-controller="NhanSu" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
    
</div>
